/*折线图组件样式*/
.h5_component_radar canvas {
  width: 100%;
  height: 100%;
  /*background-color: #dddddd;*/
  position: absolute;
  top: 0;
  left: 0;
}

.h5_component_radar .text {
  position: absolute;
  font-size: 12px;
  /*transform: scale(.8);*/
  text-align: center;
  line-height: 18px;
  opacity: 0;
  /*transition: all 1s 1s;*/
}

.h5_component_radar_load .text {
  opacity: 1;
}

.h5_component_radar_leave .text {
  opacity: 0;
}